@font-face {
  font-family: pokemon-font;
  src: url(../pokemon-font.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: pokemon-font;
}

main {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  contain: content;

  & .background-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    transform: scale(1.05);
    background-image: url("../images/pokemon-backgroud.jpg");
  }
}

/* Media query for mobile devices */
@media (max-width: 1200px) {
  main {
    height: 100vh;

    & .background-img {
      background-image: url("../images/pokemon-phone-background.jpg");
      filter: blur(3.5px);
    }
  }
}
