.header {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #4062ab;
  padding: 10px;
  height: 80px;

  & div:first-of-type {
    display: flex;
    gap: 8px;
    align-items: center;

    & img {
      width: 67px;
    }

    & h1 {
      font-size: 60px;
      color: #ffcd0d;
      margin-block-start: 0px;
      margin-block-end: 0px;
      padding-right: 7px;
      position: relative;
      bottom: 1px;
    }
  }

  & > p {
    margin-left: auto;
    margin-right: 15px;
    font-size: 50px;
    color: #ffcd0d;
  }
}

/* Media query for mobile devices */
@media (max-width: 1200px) {
  .header {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
    z-index: 1;
    gap: 2px;
    flex-direction: column;
    height: 140px;

    & div {
      gap: 6px;
      height: 80px;
    }

    & h1 {
      -webkit-text-stroke: 4px #4062ab;
      font-size: 65px;
    }
  }
}
