.option-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid transparent;
  border-radius: 16px;
  padding: 5px;
  cursor: pointer;
  width: 110px;
  aspect-ratio: 1/1;
  background: transparent;

  & img {
    width: 60px;
    height: 60px;
  }

  & > p {
    margin-top: 5px;
    width: 100% !important;
  }

  &:hover,
  &.selected {
    border: 3px solid #4062ab;
  }
}

@media (max-width: 1200px) {
  .option-button {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: fit-content;
    aspect-ratio: 1/1;
    background: transparent;

    & img {
      width: 45px;
      height: 45px;
    }

    &:hover,
    &.selected {
      border: none;
    }
  }
}
