.pokedex-link {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.pokedex-link:hover {
  background-color: black;
  color: white;
}
