.settings-container {
  position: relative;

  & button {
    background: transparent;
    border: none;
    cursor: pointer;

    & img {
      width: var(--settings-icon--width-and-height);
      height: var(--settings-icon--width-and-height);
    }
  }

  & dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 30px;
  }

  & .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: var(--settings-container-width);
    height: var(--settings-container-height);
    background: var(--settings-background-color);
    border: 5px solid var(--border-color);
    padding: 24px;
    border-radius: 30px;
  }

  & h1 {
    font-size: 2.1875rem;
    color: var(--secondary-color);
    -webkit-text-stroke: 2px var(--primary-color);
  }

  & .settings-section {
    display: flex;
    align-items: center;
    width: 85%;
    gap: 15px;

    & p {
      font-size: 1.5rem;
      width: 25%;
      color: var(--secondary-color);
      -webkit-text-stroke: 1px var(--primary-color);
    }

    & .options {
      display: flex;
      gap: 20px;
    }
  }

  & .close-settings-button {
    font-size: 1.25rem;
    background-color: crimson;
    color: black;
    position: relative;
    top: 5px;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: darkred;
    }
  }
}

@media (max-width: 1200px) {
  .settings-container {
    top: 4px;
    left: 6px;
    position: fixed;
    z-index: 2;

    & button img {
      width: 45px;
      height: 45px;
    }

    & dialog {
      position: absolute;
      width: 50px;
      height: 100%;
      top: 100%;
      left: -5px;
      transform: translate(0%, 0%);
    }

    & .dialog-content {
      width: 53px;
      height: 122px;
      background: black;
      border: 2px solid black;
      gap: 0px;
      overflow: hidden;
      padding: 0px;
      align-items: baseline;
      position: static;
      border-radius: 16px;
    }

    .dialog-content.dropdown-open {
      border-radius: 16px 16px 0px 16px;
    }

    & .settings-section {
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 0px;
    }
  }
}
